.character-container {
    width: 100%;
    height: 85vh;
    overflow-y: auto;
    overflow-x: hidden;

    & .title {
        font-size: 26px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    & img {
        width: 100%;
        max-width: 300px;
    }

    & .description {
        margin-left: 320px;
        width: calc(75% - 320px);
        margin-top: -290px;
        text-align: justify;
        padding: 10px;
        overflow-y: auto;
        overflow-x: auto;

        & .subtitle {
            font-size: 18px;
            font-weight: bold;
        }

        & .describe {
            padding: 5px;
        }
    }

    @media (max-width: 780px) {
        & .title {
            max-width: inherit;
        }

        & img {
            margin-left: 50%;
            transform: translate(-50%);
        }

        & .description {
            position: relative;
            margin-left: inherit;
            width: 100%;
            margin-top: inherit;
            text-align: center;

            & .subtitle {
                text-align: center;
                font-size: 18px;
                font-weight: bold;
            }
        }
    }
}

.character-close {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: rgb(184, 184, 184);
    color: #FFF;
    margin: -40px;
    z-index: 999;
    cursor: pointer;

    &:hover{
        background-color: rgb(131, 131, 131);
    }

    & mat-icon{
        font-size: 30px;
        font-weight: bold;
        margin: 10px;
    }
}

.character-favorite {
    text-align: center;
    color: rgb(211, 214, 24);
    width: 100%;

    & mat-icon {
        font-size: 30px;
        cursor: pointer;
    }
}