.character-card {
    cursor: pointer;

    &:hover {
        background-color: rgba(71, 71, 71, 0.363);
    }
}

.character-description {
    text-align: justify;
}

.character-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 30px;
}

.character-avatar-name {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    margin: 10px;
}

.character-input {
    width: 100%;
    text-align: center;
    display: flow-root;
    margin-bottom: 20px;

    & input {
        width: 100%;
        max-width: 250px;
        min-width: 100px;
        height: 35px;
        outline: none;
        border: 1px solid rgb(214, 214, 214);
        background-color: #FFF;
        box-shadow: 0px 0px 2px 1px rgb(231, 231, 231);
        font-size: 18px;
        padding: 5px;
    }

    & mat-icon {
        font-size: 28px;
        margin-right: 3px;
    }

    & label {
        margin-right: 10px;
    }
}

// .character-input-custom {
//     width: 100%;
//     max-width: 250px;
//     min-width: 100px;
//     height: 35px;
//     outline: none;
//     border: 1px solid rgb(214, 214, 214);
//     background-color: #FFF;
//     box-shadow: 0px 0px 2px 1px rgb(231, 231, 231);
//     font-size: 18px;
// }